@keyframes screenturn {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.2) rotate(5deg);
    }
}

#screenbg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    
    z-index: -1;
    animation-name: screenturn;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.stats {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(8px);
}

.rules {
    padding: 1em;
    margin: 1em;
    width: 23rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(8px);
}

.bottom {
    position: fixed;
    bottom: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(8px);
}