@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html {
    color-scheme: light dark;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

code {
    font-family: "JetBrains Mono", monospace;
}
